{include file="public/head" /}
    <!-- <script type="text/javascript">
        $().ready(function () {
            setTimeout(function () {
                $('.user-info-menu [data-toggle="sidebar"]').click();
            },100);
        });
    </script> -->
</head>
<body class="page-body">
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">
        {include file="public/menu" /}
    </div>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        {include file="public/nav" /}
        <button type="button" class="btn btn-info" onclick="location = '{:url('Admin/add')}'"><i class="fa fa-plus"></i> Add </button>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    
                    <div class="panel-heading">
                        <div class="breadcrumb-env" >

                            <ol class="breadcrumb bc-1">
                                <li>
                                    <a href="{:url('Index/index')}"><i class="fa-home"></i> 首页</a>
                                </li>
                                <li class="active">
                                    <strong>管理员列表</strong>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="padding: 12px 15px">
                            <div class="col-sm-12">
                                <form method="get" class="form-inline" id="search" action="?">
                                   <!--  会员类型： <select name="level" class="form-control">
                                    <option value="">全部</option>
                                    <option value="0">游客</option>
                                    <option value="1">普通会员</option>
                                    <option value="3">审核会员</option>
                                    <option value="2">高级会员</option>
                                </select> -->
                                    关键字：<input type="search" name="so" class="form-control" size="30" placeholder="登录账号，姓名，手机号码" value="{$so}">
                                    <button type="submit" class="btn btn-sm btn-primary" > <i class="fa fa-search"></i>查询 </button>
                                </form>
                            </div>
                        </div>
                            <table style="padding: 0" class="table responsive" id="msg">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>登录账号</th>
                                    <th>备注名</th>
                                    <th>联系电话</th>
                                    <!-- <th>所属角色</th> -->
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {empty name="list"}
                                    <tr>
                                        <td colspan="9">没有数据。。。</td>
                                    </tr>
                                {else /}
                                {volist name="list" id="vo"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.adminuser}</td>
                                        <td>{$vo.name}</td>
                                        <td>
                                            {if condition="$vo['mobile'] eq 0"}
                                                <span>NULL</span>
                                            {else /}
                                                {$vo.mobile}
                                            {/if}
                                        </td>
                                        <td>{$vo.regtime}</td>
                                        <td>
                                            {if condition="$vo['status'] eq 0"
                                                <i class="fa fa-check" style="color:green;" title="启用中"></i>
                                            {else /}
                                                <i class="fa fa-close" style="color:red;" title="停用中"></i>
                                            {/if}
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-info" href="{:url('Admin/edit',['id' => $vo.id])}" title="编辑">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-xs btn-info" href="{:url('Admin/edit_pass',['id' => $vo.id])}" title="修改密码">
                                                <i class="fa fa-key"></i>
                                            </a>
                                         {if condition="$vo['id'] eq 1"}   
                                         {else /}
                                           {if condition="$_SESSION['admin_uid'] eq 1"}
                                            <a href="javascript:void(0)" title="删除" id="remove" c_id="{$vo.id}" class="btn btn-xs btn-danger">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                           {else /}
                                           {/if}
                                         {/if}
                                        </td>
                                    </tr>
                                {/volist}
                                {/empty}
                                </tbody>
                               <!-- <tfoot>

                                </tfoot>-->
                            </table>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="example-3_paginate">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/foot" /}
<!-- layer 插件 -->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
        $(function () {
            //点击删除
            $(document).on("click","#remove",function () {
                if(confirm('您确定要删除吗？不可恢复。')){
                    //实现删除业务逻辑
                    $.get("{:url('Admin/del')}",
                        {id:$(this).attr("c_id")},
                        function (data) {
                            if(data.status == 0){
                                layer.msg(data.msg,{icon:1,time: 500},function () {
                                    location.reload();
                                });
                            }else{
                                layer.msg(data.msg,{icon:2,time: 500});
                            }
                        },'json');
                }
            });
        })
    </script>
</body>
</html>