{include file="public/head" /}
</head>
<body class="page-body">
	<div class="page-container">
		<div class="sidebar-menu toggle-others fixed">
  			 {include file="public/menu" /}
		</div>
		<div class="main-content" style="width: 100%;">
			<!-- User Info, Notifications and Menu Bar -->
			   {include file="public/nav" /}

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<font style="vertical-align: inherit;">	<font style="vertical-align: inherit;">	电流近期监控数据展示</font></font></h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">
										<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">-</font></font></span> <span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									<font style="vertical-align: inherit;">	<font style="vertical-align: inherit;">	×</font></font></a>
							</div>
						</div>
				<div class="panel-body">
					<script type="text/javascript">
                jQuery(document).ready(function($)
                {
                    if( ! $.isFunction($.fn.dxChart))
                        return;
                    var dataSource = [
                        { month: 1, europe: 546, americas: 332, africa: 227 },
                        { month: 2, europe: 705, americas: 417, africa: 283 },
                        { month: 3, europe: 856, americas: 513, africa: 361 },
                        { month: 4, europe: 1294, americas: 614, africa: 471 },
                        { month: 5, europe: 321, americas: 721, africa: 623 },
                        { month: 6, europe: 730, americas: 1836, africa: 1297 },
                        { month: 7, europe: 728, americas: 935, africa: 982 },
                    ];
                    $("#bar-3").dxChart({
                        dataSource: dataSource,
                        commonSeriesSettings: {
                            argumentField: "month"
                        },
                        series: [
                            { valueField: "europe", name: "电流一", color: "#40bbea" },
                            { valueField: "americas", name: "电流二", color: "#cc3f44" },
                            { valueField: "africa", name: "电流三", color: "#8dc63f" }
                        ],
                        argumentAxis:{
                            grid:{
                                visible: true
                            }
                        },
                        tooltip:{
                            enabled: true
                        },
                        title: "电流电压近期监控图",
                        legend: {
                            verticalAlignment: "bottom",
                            horizontalAlignment: "center"
                        },
                        commonPaneSettings: {
                            border:{
                                visible: true,
                                right: false
                            }
                        }
                    });
                });
			</script>
				<div id="bar-3" style="height: 400px; width: 100%; user-select: none;" class="dx-visibility-change-handler">

				</div>
			</div>
			</div>
			</div> </div>
   {include file="public/foot" /}
</body>
</html>