<!-- Bottom Scripts -->
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/js/TweenMax.min.js"></script>
<script src="__STATIC__/js/resizeable.js"></script>
<script src="__STATIC__/js/joinable.js"></script>
<script src="__STATIC__/js/xenon-api.js"></script>
<script src="__STATIC__/js/xenon-toggles.js"></script>
<!-- Imported scripts on this page -->
<script src="__STATIC__/js/xenon-widgets.js"></script>
<script src="__STATIC__/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="__STATIC__/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="__STATIC__/js/toastr/toastr.min.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="__STATIC__/js/xenon-custom.js"></script>
<!--自定义js-->
<script src="__STATIC__/common/common.js"></script>
