{include file="public/head"/}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/js/datatables/dataTables.bootstrap.css">

</head>

<style type="text/css">
    .responsive tr td.codeTd{
        position: relative;
    }
    .responsive tr td.codeTd:hover .codeImg{
        display: block;
    }
    .responsive tr td .codeImg{
        position: absolute;
        top: 25px;
        left:-75px;
        z-index: 1000;
        width: 200px;
        display: none;
    }
</style>
<body class="page-body">
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">
        {include file="public/menu"/}
    </div>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        {include file="public/nav"/}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="breadcrumb-env" >
                            <ol class="breadcrumb bc-1">
                                <li><a href="{:url('Index/index')}"><i class="fa-home"></i> 首页</a></li>
                                <li class="active"><strong>异常警报</strong></li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">

                        <table style="padding: 0" class="table responsive" id="msg">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>设备编号</th>
                                <th>异常查看</th>
                                <th>继电器监控</th>
                             </tr>
                            </thead>

                            <tbody>
                            {empty name="list"}
                            <tr>
                                <td colspan="9">没有数据。。。</td>
                            </tr>
                            {else /}
                            {volist name="list" id="vo"}

                            <tr>
                                <td>{$vo.c_deviceid}</td>
                                <td>{$vo.c_devicesn}</td>
                                {if $vo.warning == 1}
                                <td>
                                <a href="javascript:;" onclick="o2o_open('查看异常数据','{:url('Monitor/cvtwarn',['devicesn' => $vo.c_devicesn])}',1000,750);" class="btn btn-turquoise">
                                    <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">查看异常数据</font>
                                    </font>
                                </a>
                                </td>
                                {else /}
                                <td style="color:red">
                                    无异常状态
                                </td>
                                {/if}
                                {if $vo.relay == 1}
                                <td>
                                    <a href="javascript:;" onclick="o2o_open('查看继电器控制情况','{:url('Monitor/relaywarn',['devicesn' => $vo.c_devicesn])}',1000,750);" class="btn btn-warning">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">查看继电器控制情况</font>
                                        </font>
                                    </a>
                                </td>
                                {else /}
                                <td style="color:red">
                                    无操作状态
                                </td>
                                {/if}

                            </tr>
                           {/volist}
                            {/empty}
                            </tbody>



                        </table>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="example-3_paginate">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade custom-width" id="modal-2" aria-hidden="true" style="display: none;">-->
    <!--<div class="modal-dialog" style="width: 60%;">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><font style="vertical-align: inherit;"> <font style="vertical-align: inherit;">&times;</font></font> </button>-->
                <!--<h4 class="modal-title"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">自定义宽度模式</font></font></h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 任何类型的宽度都可以应用。 </font></font>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-white" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关</font></font></button>-->
                <!--<button type="button" class="btn btn-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存更改</font></font></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<div class="modal fade" id="catorderinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="z-index: 10000">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> 个人资料 </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


{include file="public/foot"/}
<!-- layer 插件 -->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        //点击删除
        $(document).on("click","#remove",function () {
            if(confirm('您确定要删除吗？')){
                //实现删除业务逻辑
                $.get("{:url('Device/del')}",
                    {id:$(this).attr("c_id")},
                    function (data) {
                        if(data.status == 0){
                            layer.msg(data.msg,{icon:1,time: 1000},function () {
                                location.reload();
                            });
                        }else{
                            layer.msg(data.msg,{icon:2,time: 1000});
                        }
                    },'json');
            }
        });

        //点击修改状态
        $(document).on("click","#isStatus",function () {

            $.get("{:url('Device/isStatus')}",
                {id:$(this).attr("c_id")},
                function (data) {
                    if(data.status == 0){
                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time: 1000});
                    }
                },'json');
        });

        // 图片放大
        var zindex=1;
        $(".lemoncode").click(function(){
            if(($(this).css("transform"))=="matrix(5, 0, 0, 5, 0, 0)"){
                $(this).css({
                    "transform":"scale(1)",
                    "position":"static"
                })
            }else{
                $(this).css({
                    "transform":"scale(5)",
                    "position":"relative",
                    "zIndex" : 1,
                })
            }

        })
    })
</script>

</body>
</html>