{include file="public/head"/}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/js/datatables/dataTables.bootstrap.css">

</head>

<style type="text/css">
    .responsive tr td.codeTd{
        position: relative;
    }
    .responsive tr td.codeTd:hover .codeImg{
        display: block;
    }
    .responsive tr td .codeImg{
        position: absolute;
        top: 25px;
        left:-75px;
        z-index: 1000;
        width: 200px;
        display: none;
    }
</style>
<body class="page-body">
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">
        {include file="public/menu"/}
    </div>
    <div class="main-content">
        <!-- User Info, Notifications and Menu Bar -->
        {include file="public/nav"/}
>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="breadcrumb-env" >
                            <ol class="breadcrumb bc-1">
                                <li><a href="{:url('Index/index')}"><i class="fa-home"></i> 首页</a></li>
                                <li class="active"><strong>设备列表</strong></li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="padding: 12px 15px">
                            <div class="col-sm-12">
                                <form method="get" class="form-inline" id="search" action="?">

                                    关键字：<input type="search" name="so" class="form-control" size="30" placeholder="ID，设备编号，名称" value="so}">
                                    <button type="submit" class="btn btn-sm btn-primary" > <i class="fa fa-search"></i>查询 </button>
                                    <a href="{:url('index')}" class="btn btn-sm btn-primary"> 清除 </a>
                                </form>
                                
                            </div>
                        </div>
                        <table style="padding: 0" class="table responsive" id="msg">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>设备编号</th>
                                <th>设备类型</th>
                                <th>连接状态</th>
                                <th style="text-align: center">继电器控制</th>
                                <th>链接方式</th>
                                <th>心跳设置</th>
                                <th>预订单检查</th>
                            </tr>
                            </thead>
                            <tbody>
                            {empty name="list"}
                                <tr>
                                    <td colspan="12">没有数据。。。</td>
                                </tr>
                            {else /}
                            {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.c_deviceid}</td>
                                    <td>{$vo.c_devicesn}</td>
                                    <td>{$vo.c_type}</td>


                                    {if $vo['isconnect'] eq 1}
                                     <td>
                                         
                                            <span style="color:#0dca0d;font-size:14px;" title="启用">
                                                <i class="fa fa-check"></i>
                                            </span>                                         
                                     </td>                                   
                                     <td align="center">
                                        {volist name="vo.c_relay" id="vc"}
                                        <p >
                                            继电器{$key}&nbsp;
                                            {if $vc == 1}
                                            <span style="color:#0dca0d;font-size:14px;" title="设备放电中">
                                                设备放电中
                                            </span>
                                            {elseif $vc == 0 /}
                                            <span style="color:red;font-size:14px;" title="设备未放电">
                                                设备未放电
                                            </span>                                            
                                            {/if} 
                                            <span style="width: 10px;"></span>
                                             <a href="javascript:void(0)" class="btn btn-xs btn-info" id="isStatus" c_id="{$vo.c_deviceid}" c_devicesn="{$vo.c_devicesn}" key="{$key}" value="{if $vc eq 0}1{else /}0{/if}" title="{if $vc eq 0}充电{else /}断电{/if}">
                                                {if $vc eq 0}
                                                    <i class="fa fa-check"></i>                                                

                                                {else /}
                                                    <i class="fa fa-close"></i>
                                                {/if}
                                             </a> 
                                        </p>
                                        {/volist}
                                      
                                    </td>
                                     <td>
                                        {$vo.connecttype}
                                         {if $vo.connecttype == 'gprs'}
                                         <a href="javascript:;" onclick="o2o_open('更改WIFI链接','{:url('Control/changeConnect',['devicesn' => $vo.c_devicesn])}',700,550);" class="btn btn-turquoise">
                                             <font style="vertical-align: inherit;">
                                                 <font style="vertical-align: inherit;">更改链接方式</font>
                                             </font>
                                         </a>
                                         {/if}
                                        <!--<p style="float: right;">-->
                                                    <!---->
                                            <!--<button id='connecttype' c_sn="{$vo.c_devicesn}" c_value="{if $vo.connecttype == 'GPRS'}WIFI{elseif $vo.connecttype == 'WIFI'}GPS{/if}">{if $vo.connecttype == 'GPS'}改为WIFI连接{elseif $vo.connecttype == 'WIFI'}改为WIFI连接{/if}</button>-->
                                            <!---->
                                        <!--</p>-->
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="o2o_open('心跳设置','{:url('Control/heartSet',['devicesn' => $vo.c_devicesn])}',700,550);" class="btn btn-turquoise">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">心跳设置</font>
                                            </font>
                                        </a>
                                    </td>

                                    <td>
                                        <button id='preOrderCheck' c_sn="{$vo.c_devicesn}" >预订单检查测试</button>

                                    </td>
                                    {elseif $vo.isconnect eq 0 /}
                                    <td>
                                            <span style="color:red;font-size:14px;" title="停用">
                                                <i class="fa fa-close"></i>
                                            </span>                                        
                                    </td>

                                    <td align="center" style="color: red" colspan="3">设备未开机</td>  
                                    {else /}
                                    <td>
                                            <span style="color:red;font-size:14px;" title="停用">
                                                <i class="fa fa-close"></i>
                                            </span>                                        
                                    </td>
                                    <td align="center" style="color: red" colspan="3">设备异常</td>

                                    {/if}

                                </tr>

                            {/volist}
                            {/empty}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="dataTables_paginate paging_simple_numbers" id="example-3_paginate">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="catorderinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="z-index: 10000">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" > 个人资料 </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" >关闭</button>
            </div>
        </div>
    </div>
</div>


{include file="public/foot"/}
<!-- layer 插件 -->
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        //点击删除
        $(document).on("click","#remove",function () {
            if(confirm('您确定要删除吗？')){
                //实现删除业务逻辑
                $.get("{:url('Device/del')}",
                    {id:$(this).attr("c_id")},
                    function (data) {
                        if(data.status == 0){
                            layer.msg(data.msg,{icon:1,time: 1000},function () {
                                location.reload();
                            });
                        }else{
                            layer.msg(data.msg,{icon:2,time: 1000});
                        }
                    },'json');
            }
        });

        //点击修改状态
        $(document).on("click","#isStatus",function () {

            $.post("{:url('Control/update')}",
                {
                    id:$(this).attr("c_id"),
                    sn:$(this).attr("c_devicesn"),
                    key:$(this).attr("key"),
                    value:$(this).attr("value")
                },
                function (data) {
                    if(data.status == 0){
                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time: 1000});
                    }
                },'json');
        });
        //点击修改状态
        $(document).on("click","#preOrderCheck",function () {

            $.post("{:url('Control/preOrderCheck')}",
                {
                   sn:$(this).attr("c_sn"),
                },
                function (data) {
                    if(data.status == 0){
                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time: 1000});
                    }
                },'json');
        });
        //点击修改连接状态
        $(document).on("click","#connecttype",function () {

            $.post("{:url('Control/contype')}",
                {
                    sn:$(this).attr("c_sn"),
                    value:$(this).attr("c_value")
                },
                function (data) {
                    if(data.status == 0){
                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                            location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:2,time: 1000});
                    }
                },'json');
        });

        // 图片放大
        var zindex=1;
        $(".lemoncode").click(function(){
            if(($(this).css("transform"))=="matrix(5, 0, 0, 5, 0, 0)"){
                $(this).css({
                    "transform":"scale(1)",
                    "position":"static"
                })
            }else{
                $(this).css({
                    "transform":"scale(5)",
                    "position":"relative",
                    "zIndex" : 1,
                })
            }

        })
    })
</script>

</body>
</html>